{%  extends 'base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}


    <div>
        <p class="alert alert-success">You can view the analysis by scrolling down.</p>
    </div>
    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%">

        {{ swidth | safe }}
    </div>

    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%">

        {{ wound | safe }}
    </div>

    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%">

        {{ RWD | safe }}
    </div>

{% endblock %}
